<div class="p-4 text-center border-bottom">

    <div class="d-flex align-items-center justify-content-center">
        <h5 class="fw-bold text-white ">Repair System</h5>

    </div>
    <p class="text-muted">Admin</p>

</div>
<label class="text-muted small fw-semibold mt-4 px-3 mb-2">เมนูหลัก</label>

<ul class="nav flex-column ">
    <li class="nav-item "><a class="nav-link sidebar-link text-light " asp-action="Index" asp-controller="Home"><i class="bi bi-house m-3"></i>หน้าหลัก</a></li>
    <li class="nav-item"><a class="nav-link sidebar-link text-light" asp-action="Index" asp-controller="Assets"><i class="bi bi-box m-3"></i>ทะเบียนครุภัณฑ์</a></li>
    <li class="nav-item"><a class="nav-link  sidebar-link text-light" asp-action="Index" asp-controller="Request"><i class="bi bi-card-list m-3"></i>จัดการรายการซ่อม</a></li>
    <li class="nav-item"><a class="nav-link  sidebar-link text-light" asp-action="Index" asp-controller="Category"><i class="bi bi-collection m-3"></i>ประเภทครุภัณฑ์</a></li>
    <li class="nav-item"><a class="nav-link  sidebar-link text-light" asp-action="Index" asp-controller="Report"><i class="bi bi-bar-chart m-3"></i>รายงาน</a></li>
    <li class="nav-item"><a class="nav-link  sidebar-link text-light" asp-action="Index" asp-controller="Email"><i class="bi bi-envelope-at-fill m-3"></i>แจ้งซ่อม</a></li>
</ul>
<label class="text-muted small fw-semibold mt-4 px-3 mb-2 mt-5">การตั้งค่า</label>

<ul class="nav flex-column ">
    <li class="nav-item "><a class="nav-link sidebar-link text-white"><i class="bi bi-person-gear m-3"></i>จัดการผู้ใช้</a></li>
    <li class="nav-item"><a class="nav-link sidebar-link text-white"><i class="bi bi-gear m-3"></i>ออกจากระบบ</a></li>
</ul>


