@model List<Repairly.Models.EmailViewModel>;


<div class="container-fluid">

    <div class="card  shadow-sm border-0  mt-4 " style="height:900px">
        <div class="card-header bg-white">

            <div class="d-flex justify-content-between align-items-center">
                <h5 class="navbar-brand">รายการซ่อมที่สำเร็จ</h5>

            </div>
           

        </div>
        <div class="card-body table-responsive " id="tablePartial">
            <partial name="TableEmail" />
        </div>


    </div>


</div>

