@model Repairly.Models.AssetsPageViewModel;
<div class="container-fluid vh-100 row mt-2">
    <div>
    <div class="d-flex justify-content-end">
            
    </div>

        <partial name="PopupCard" />
        <partial name="PopupcardEdit" />
        <div class="card  shadow-sm border-0  mt-2 " style="height:700px">
               <div class="card-header bg-white">
                   <div class="mt-2">
                       <div class="d-flex justify-content-between align-items-center">
                            <h5 class="navbar-brand">ทะเบียนครุภัณฑ์</h5>
                        <a class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addAssetModal">  <i class="bi bi-plus-circle me-1"></i> เพิ่มทะเบียนครุภัณฑ์ </a>
                       </div>
                   
                        <input type="search" class="form-control mt-3 "   id="SearchAssets"  placeholder="ค้นหารายการ..." />
                   </div>
         

               </div>
        <div class="card-body table-responsive ">
         <div id="tablePartial">
             <partial name="AssetsTablePartial" />

         </div>

        </div>


    </div>
    </div>
    <div class=" d-flex justify-content-center mt-auto mb-5 ">
        <ul class="pagination " id="getpage">

       
        @for(int i =1; i <= Model.TotalPage; i++)
        {
                <li class="page-item  @(Model.CurrentPage == i ? "active" : "") ">
                    <a class="page-link"  onclick="loaddata(@i)">@i</a>
                </li>

        } 
        </ul>
    </div>
 
</div>

<script>

    function loaddata(page){
    $.ajax({
            url:"/Assets/Index",
            type:"GET",
            data:{page:page},
            success:function(result){
            $('#tablePartial').html($(result).find('#tablePartial').html());
             $('#getpage').html($(result).find('#getpage').html());
            }

    })
    }

    $("#SearchAssets").on("keyup",function(){
        let datasearch = $(this).val().trim();;
        if (datasearch === "") {
           loaddata(1);
        } else {
            $.ajax({
                url: "/Assets/SearchAssets",
                type: "GET",
                data: { data: datasearch },
                success: function (result) {
                    $("#tablePartial").html(result);
                    $("#getpage").html("");
                }
            });
        }

           
           


    })


</script>
